<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bluemix</key>
	<dict>
		<key>route</key>
		<string>your-bluemix-app-route-for-push</string>
		<key>guid</key>
		<string>your-bluemix-guid-for-push</string>
	</dict>
	<key>macm</key>
	<dict>
		<key>instance</key>
		<string>https://macm.saas.ibmcloud.com</string>
		<key>tenant</key>
		<string>your-tenant-value</string>
		<key>library</key>
		<string>your-library</string>
		<key>username</key>
		<string>your-username</string>
		<key>password</key>
		<string>your-password</string>
	</dict>
	<key>beaconInfo</key>
	<array>
		<dict>
			<key>region</key>
			<string>Greenwell Cars</string>
			<key>uuid</key>
			<string>E2C56DB5-DFFB-48D2-B060-D0F5A71096E0</string>
			<key>categoryFilter</key>
			<string>greenwheel</string>
			<key>keywordFilter</key>
			<array>
				<string>welcome</string>
			</array>
		</dict>
		<dict>
			<key>region</key>
			<string>Greenwheel Model Z</string>
			<key>uuid</key>
			<string>E2C56DB5-DFFB-48D2-B060-D0F5A71096E1</string>
			<key>categoryFilter</key>
			<string>greenwheel</string>
			<key>keywordFilter</key>
			<array>
				<string>modelz</string>
			</array>
		</dict>
		<dict>
			<key>region</key>
			<string>Greenwheel Model J</string>
			<key>uuid</key>
			<string>E2C56DB5-DFFB-48D2-B060-D0F5A71096E2</string>
			<key>categoryFilter</key>
			<string>greenwheel</string>
			<key>keywordFilter</key>
			<array>
				<string>modelj</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
